#Roll no. 31404 Assignment 3 K4

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [2]:
employee_data=pd.read_csv('Employee_Salary.csv')
employee_data.head()

   ID  Experience  Age  Gender  Salary
0   1         5.0   28  Female  250000
1   2         1.0   21    Male   50000
2   3         3.0   23  Female  170000
3   4         2.0   22    Male   25000
4   5         1.0   17    Male   10000

In [3]:
# COUNT NULL VALUES
null_sum=employee_data.isnull().sum()
print(null_sum)

ID            0
Experience    1
Age           0
Gender        1
Salary        0
dtype: int64

In [4]:
#statistics for a numeric variable grouped by a categorical variable
print("\nSummary Statistics Grouped by Gender:")
grouped_statistics = employee_data.groupby('Gender').agg({
    'Salary': ['mean', 'median', 'min', 'max', 'std'],
    'Age': ['mean', 'median', 'min', 'max', 'std']
})
print(grouped_statistics)

Summary Statistics Grouped by Gender:
              Salary                                                Age  \
                mean    median   min       max           std       mean
Gender
Female  2.170676e+06  250000.0  6000  10000000  3.520086e+06  37.705882
Male    2.063626e+06  220100.0  3000   7600000  2.950974e+06  33.764706


       median min max        std
Gender
Female   34.0  21  62  15.711320
Male     29.0  17  62  13.997899

In [5]:
# CONVERT INTO CATEGORICAL VALUES
employee_data['Gender_Numeric']=employee_data['Gender'].map({'Male':0,'Female':1})
employee_data.head()

   ID  Experience  Age  Gender  Salary  Gender_Numeric
0   1         5.0   28  Female  250000             1.0
1   2         1.0   21    Male   50000             0.0
2   3         3.0   23  Female  170000             1.0
3   4         2.0   22    Male   25000             0.0
4   5         1.0   17    Male   10000             0.0

In [6]:
# STATISTICS FOR SALARY GROUP BY GENDER
print("\nSummary Statistics for Salary Grouped by Gender:")
salary_statistics = employee_data.groupby('Gender')['Salary'].agg(['mean', 'median', 'min', 'max', 'std'])
print(salary_statistics)

Summary Statistics for Salary Grouped by Gender:
                mean    median   min       max           std
Gender
Female  2.170676e+06  250000.0  6000  10000000  3.520086e+06
Male    2.063626e+06  220100.0  3000   7600000  2.950974e+06

In [7]:
# STATISTICS FOR EXPERIENCE GROUP BY GENDER
print("\nSummary Statistics for Experience Grouped by Gender:")
experience_statistics = employee_data.groupby('Gender')['Experience'].agg(['mean', 'median', 'min', 'max', 'std'])
print(experience_statistics)

Summary Statistics for Experience Grouped by Gender:
             mean  median  min   max       std
Gender
Female  10.470588    10.0  1.0  27.0  8.224336
Male     8.062500     5.5  1.0  25.0  7.206189

In [8]:
# STATISTICS FOR AGE GROUP BY GENDER
print("\nSummary Statistics for Age Grouped by Gender:")
age_statistics = employee_data.groupby('Gender')['Age'].agg(['mean', 'median', 'min', 'max', 'std'])
print(age_statistics)

Summary Statistics for Age Grouped by Gender:
             mean  median  min  max        std
Gender
Female  37.705882    34.0   21   62  15.711320
Male    33.764706    29.0   17   62  13.997899

In [9]:
#MIN SALARY
min_sal=employee_data['Salary'].min()
print(min_sal)

3000

In [14]:
# DISTINCT VALUES
num_distinct_keys = employee_data['Gender'].nunique()
print(f"Number of distinct keys in the 'Gender' column: {num_distinct_keys}")

uni_gen=employee_data['Gender'].unique()
print(uni_gen)

unique_cols=['Age','Experience']
for col in unique_cols:
    print(f"Distinct values in {col}:{employee_data[col].unique()}")

Number of distinct keys in the 'Gender' column: 2
['Female' 'Male' nan]
Distinct values in Age:[28 21 23 22 17 62 54 36 26 29 39 40 27 34 18 55 53 49]
Distinct values in Experience:[ 5.  1.  3.  2. 25. 19. 10. 15.  4.  6. 14. nan 27. 20. 16.]

In [11]:
#PRINT ONLY ONE GROUP
group_data=employee_data.groupby('Gender')

male_group=group_data.get_group('Male')
print(male_group)

    ID  Experience  Age Gender   Salary  Gender_Numeric
1    2         1.0   21   Male    50000             0.0
3    4         2.0   22   Male    25000             0.0
4    5         1.0   17   Male    10000             0.0
5    6        25.0   62   Male  5001000             0.0
11  12         6.0   29   Male  1400000             0.0
12  13        14.0   39   Male  6000050             0.0
13  14         NaN   40   Male   220100             0.0
14  15         2.0   23   Male     7500             0.0
18  19         2.0   21   Male    15000             0.0
19  20        10.0   36   Male   330000             0.0
20  21        15.0   54   Male  6570000             0.0
21  22         4.0   26   Male    25000             0.0
22  23         5.0   29   Male  6845000             0.0
26  27         1.0   18   Male     3000             0.0
30  31        10.0   34   Male    80000             0.0
31  32        15.0   54   Male   900000             0.0
34  35        16.0   49   Male  7600000             0.0

In [12]:
#CHECK BALANCED OR NOT PART 1
target_distribution=employee_data['Gender'].value_counts()
print(target_distribution)

Gender
Female    17
Male      17
Name: count, dtype: int64

In [13]:
#CHECK BALANCED OR NOT PART 2
if target_distribution.min()/target_distribution.max()>0.5:
    print("Dataset balanced")
else:
    print("Dataset unbalanced")

Dataset balanced

#FOR iris.csv

In [20]:
import pandas as pd
import numpy as np
import matplotlib as mp

In [21]:
data=pd.read_csv('Iris.csv')
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [22]:
data.Species.value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [23]:
data.shape

(150, 6)

In [24]:
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [25]:
data.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [26]:
def basic_stats(df):
    print("\nIris-setosa")
    print(df[df.Species=='Iris-setosa'].describe().transpose())
    print("\nIris-versicolor")
    print(df[df.Species=='Iris-versicolor'].describe().transpose())
    print("\nIris-virginica")
    print(df[df.Species=='Iris-virginica'].describe().transpose())
basic_stats(data)

Iris-setosa
               count    mean        std  min     25%   50%     75%   max
Id              50.0  25.500  14.577380  1.0  13.250  25.5  37.750  50.0
SepalLengthCm   50.0   5.006   0.352490  4.3   4.800   5.0   5.200   5.8
SepalWidthCm    50.0   3.418   0.381024  2.3   3.125   3.4   3.675   4.4
PetalLengthCm   50.0   1.464   0.173511  1.0   1.400   1.5   1.575   1.9
PetalWidthCm    50.0   0.244   0.107210  0.1   0.200   0.2   0.300   0.6

Iris-versicolor
               count    mean        std   min     25%    50%    75%    max
Id              50.0  75.500  14.577380  51.0  63.250  75.50  87.75  100.0
SepalLengthCm   50.0   5.936   0.516171   4.9   5.600   5.90   6.30    7.0
SepalWidthCm    50.0   2.770   0.313798   2.0   2.525   2.80   3.00    3.4
PetalLengthCm   50.0   4.260   0.469911   3.0   4.000   4.35   4.60    5.1
PetalWidthCm    50.0   1.326   0.197753   1.0   1.200   1.30   1.50    1.8

Iris-virginica
               count     mean        std    min      25%     50%      75%  \
Id              50.0  125.500  14.577380  101.0  113.250  125.50  137.750
SepalLengthCm   50.0    6.588   0.635880    4.9    6.225    6.50    6.900
SepalWidthCm    50.0    2.974   0.322497    2.2    2.800    3.00    3.175
PetalLengthCm   50.0    5.552   0.551895    4.5    5.100    5.55    5.875
PetalWidthCm    50.0    2.026   0.274650    1.4    1.800    2.00    2.300

                 max
Id             150.0
SepalLengthCm    7.9
SepalWidthCm     3.8
PetalLengthCm    6.9
PetalWidthCm     2.5

In [27]:
#DESCRIBE SPECIES
data_desc=pd.DataFrame(data.groupby('Species').describe())
data_desc

                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm         ... PetalLengthCm      PetalWidthCm  \
                        count   mean  ...           75%  max        count
Species                               ...
Iris-setosa              50.0  5.006  ...         1.575  1.9         50.0
Iris-versicolor          50.0  5.936  ...         4.600  5.1         50.0
Iris-virginica           50.0  6.588  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 40 columns]

In [31]:
# DATA WHERE SepalLengthCm>4.5
dataset=data[(data['Species']=='Iris-setosa') & (data['SepalLengthCm']>4.5)]
print(dataset)
# dataset=data['SepalLengthCm']>5.5

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa